.idea/*
cmake-build-debug/*
src/cmake-build-debug/*
*_autogen/
x64-Release/*
bin/*
.vs/*
*.a
*.app
*.dylib
.DS_Store
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps